.moves-list {
  color: var(--clr-text);
  font-size: 0.8rem;
  font-weight: 600;
  overflow: auto;

  display: flex;
  flex-direction: row;
  align-content: start;
  flex: 1;
  flex-wrap: wrap;
}

.move {
  flex-basis: 35%;

  text-align: left;
  padding-bottom: 5px;
  padding-left: 15%;

  position: relative;
}

.move:nth-child(odd)::before {
  content: attr(data-number);
  opacity: 0.7;

  position: absolute;
  left: 0;
}
