/* app.css */
.app-wrapper {
  --mobile-width: min(100%, 30rem);
  --tablet-width: min(100%, 35rem);
  --desktop-width: 62.5rem;

  --board-margin: 1rem;
  --square-size: 2.5rem; /* Base square size for mobile */

  width: var(--mobile-width);
  padding: var(--board-margin);
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.btn {
  background-color: var(--clr-btn-bg);
  color: var(--clr-btn-text);
  font-size: 0.9rem;
  text-transform: capitalize;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 0.8rem;

  transition: opacity 250ms ease-in-out;
}

.btn:where(:hover, :focus-visible) {
  opacity: 0.85;
}

/* Media Queries */
/* For tablets: 576px - 991px */
@media screen and (width >= 36em) and (width < 62em) {
  .app-wrapper {
    --square-size: 3.5rem;

    width: var(--tablet-width);
  }

  .controls {
    min-height: 24rem;
  }
}

/* For desktops >= 992px */
@media screen and (width >= 62em) {
  .app-wrapper {
    --square-size: 4rem;

    width: var(--desktop-width);

    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
  }

  .btn {
    font-size: 1rem;
    padding: 0.8rem 1rem;
  }
}

/* For very small screens <= 400px */
@media screen and (width <= 25em) {
  .app-wrapper {
    --square-size: 2.25rem;

    padding: calc(var(--board-margin) / 2);
  }

  .controls {
    min-height: 18rem;
  }
}
